.contact-container {
  background-color: rgba(255, 255, 255, 0.034);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h1,h2 {
  font-weight: 500;
}

/* Styling input fields and textarea */
form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #ffffffb8;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: black;
  outline: none;
}

form button[type="submit"] {
  background-color: #6c6a76;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s ease;
  font-family: inherit;
  width: 50%;
  margin: 0 auto;
}

form button[type="submit"]:hover {
  background-color: #6c6a7684;
  border-color: #3498db;
  box-shadow: 0 0 10px white;
}

.result-message {
  margin-top: 15px;
  font-size: 1.2rem;
  color: rgb(46, 83, 46);
  text-align: center;
}

@media (max-width: 900px) {
  form {
    width: 350px;
  }

}