.contact-container {
  background-color: #7e7c8aaf;
  padding: 50px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  animation: fadeInBounce 1s ease-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h1,h2 {
  font-weight: 500;
}

/* Styling input fields and textarea */
form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #ffffffb8;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: black;
  outline: none;
}

form button[type="submit"] {
  background-color: #AFADAD;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s ease;
  font-family: inherit;
  width: 35%;
  margin: 0 auto;
}

form button[type="submit"]:hover {
  background-color: #6c6a7684;
  box-shadow: 0 0 10px white;
  color: white;
}

.result-message {
  margin-top: 15px;
  font-size: 1.3rem;
  color: rgb(183, 236, 183);
  text-align: center;
}

@media (max-width: 900px) {
  .contact-container {
    width: 250px;
  }

  form button[type="submit"] {
    font-size: 1.1rem;
    padding: 5px;
    width: 40%;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea {
    padding: 5px;
    font-size: 0.8rem;
  }

  .contact-container h1 {
    font-size: 1.3rem;
  }

  .contact-container h2 {
    font-size: 1.1rem;
  }

}