form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f92c;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: auto;
  gap: 15px;
}

form h2,h3 {
  color: white;
  font-weight: 500;
}

/* Styling input fields and textarea */
form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #ffffffb8;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #E7BCD6;
  outline: none;
}

/* Styling the submit button */
form button[type="submit"] {
  margin-top: 20px;
  background-color: #E7BCD6;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #e7bcd68e;
}

/* Styling for the result message */
.result-message {
  margin-top: 15px;
  font-size: 1.2rem;
  color: rgb(196, 247, 196);
  text-align: center;
}

@media (max-width: 900px) {
  form {
    width: 350px;
  }

}