.section-contact-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap:25px;
}

#contact-header, #skills-header{
  margin-bottom: 50px;
  font-size: 2rem;
}

.section-contact-skills a, p {
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.section-contact-skills a:hover{
  background-color: rgba(240, 248, 255, 0.709);
  border: 1px solid #2f3854f0;
  color:black;
}

.section-contact-skills img{ 
  width:100px;
}

.contact-container, .skills-container{
  flex:2;
  background-color: rgba(211, 211, 211, 0.63);
  width:600px;
  height:600px;
  flex-wrap: wrap; 
  border: 5px solid black;
  border-radius: 50px;
  gap: 15px;
}

.skills-list, .contact-list{
  display:flex;
  gap:50px;
  flex-wrap: wrap; 
  justify-content: center;
}

.skill{
  background-color: #19181893;
  width:125px;
  height:125px;
  padding: 10px; 
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}

.skill img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}


