.section-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 150px;
}

.contact-container, .skills-container{
  flex: 2;
  flex-wrap: wrap; 
  border: 1px solid #9AAFD0;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  padding: 20px; 
  gap: 15px;
}

.contact, .skill {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  width: 100%;
  gap: 30px;
  text-align: center; 
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#contact-header,#skills-header{
  color: #9AAFD0;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.section-contact img, .skill img { 
  width:100px;
}

.skill-three img{
  width: 200px;
  height: 125px;
}

.section-contact a, p {
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.section-contact a:hover{
  background-color: rgba(240, 248, 255, 0.709);
  border: 1px solid #2f3854f0;
  color:black;
}

@media (max-width: 900px) {
  
}
