.footer{
  margin-top:80px;
  padding:20px;
  background-color: rgba(0, 0, 0, 0.182);
  border-top: 1px solid rgba(255, 255, 255, 0.388);
}

#contact-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

#contact-links img{
  width: 30px;
  cursor: pointer;
}

#copyright {
  color: white;
}