.header { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  font-weight: bold;
  font-size: 3rem;
}

.nav-bar{
  border-bottom: 1px solid rgba(255, 255, 255, 0.388);
  position: fixed; 
  width: 100%; 
  z-index: 5; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.182);
}

.home-nav a{
  font-family: 'Glametrix-Bold';
  color: white;
  -webkit-text-stroke: 1.5px black;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s ease;
}

.home-nav a:hover {
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.706);
}

.nav-items {
  display: flex; 
  list-style: none;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 50px;
  transform: translateX(5%);
}

.nav-items button, .nav-items a {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-size:1.3rem;
  padding-inline: 20px;
}

.nav-items button::after, .nav-items a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0; 
  width: 0;
  height: 1px; 
  background-color:rgb(199, 199, 199); 
  transition: 0.3s ease; 
  transform: translateX(-50%);
}

.nav-items button:hover::after, .nav-items a:hover::after {
  width: 100%;
}

.menu-toggle { 
  display: none;  
  background: none;
  border: none;
  font-size: 2.5rem;
  position: absolute;
  right: 0;
  top: 30px;
  color: white; 
  -webkit-text-stroke: 1px black;
}

@media (max-width: 900px) {
  .nav-bar {
    padding-bottom: 40px;
  }

  .home-nav {
    font-size: 2.2rem;
  }

  .menu-toggle {
    display: block;
  }

  .nav-items {
    display: flex;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.665);
    position: absolute;
    right: 0;
    top: 78px;
    z-index: 5;
    opacity: 0; 
    transform: translateY(-20px);
    pointer-events: none; 
    transition: 0.3s ease-in-out;
  }

  .nav-items.open {
    opacity: 1; 
    transform: translateY(0); 
    pointer-events: auto; 
  }

  .nav-items button,
  .nav-items a {
    width: 100%;
    text-align: center;
    padding: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding-inline: 20px;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .nav-items button:hover,
  .nav-items a:hover {
    background-color: #ccc;
    border-radius: 5px;
    padding-inline: 20px;
  }

  .nav-items button::after,
  .nav-items a::after {
    content: none; 
  }

  .nav-items button:hover::after,
  .nav-items a:hover::after {
    width: 0; 
  }
}
