.header { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: #fff; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar{
  border-bottom: 1px solid rgba(255, 255, 255, 0.388);
  position: fixed; 
  width: 100%; 
  z-index: 5; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.675);
  padding-top:30px;
}

.home-nav{
  font-weight: bold;
  font-size:2.2rem;
}

.home-nav a{
  color: white;
  -webkit-text-stroke: 3px black;
  text-decoration: none;
  padding-left: 25px;
}

.nav-items {
  display: flex; 
  list-style: none;
  margin: 0;
  padding-top: 10px;
  justify-content: flex-end;
  align-items: center;
  gap:25px;
  padding-inline: 50px;
  margin-bottom: 25px;
}

.nav-items button, .nav-items a {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font: inherit;
  font-size:1rem;
}

.nav-items button::after, .nav-items a::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 50%;
  width: 0;
  height: 1px; 
  background-color:#b5dcde; 
  transition: 0.3s ease; 
  transform: translateX(-50%);
}

.nav-items button:hover::after, .nav-items a:hover::after {
  width: 100%;
}

.menu-toggle { 
  display: none;  
}

@media (max-width: 900px) {
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    color: white;
  }

  .nav-bar{
    padding-bottom: 10px;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    width: 30%;
    background-color: rgba(211, 211, 211, 0.665);
    position: absolute;
    top: 82px;
    right: 0;
    padding: 10px;
    z-index: 5; /* Ensure it's above other elements */
  }

  .nav-items.open {
    display: flex;
  }

  .nav-items button,
  .nav-items a {
    width: 100%;
    text-align: center;
    padding: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .nav-items button:hover,
  .nav-items a:hover {
    background-color: #ccc; 
    width: 100%;
  }

  .nav-items button::after,
  .nav-items a::after {
    content: none; 
  }

  .nav-items button:hover::after,
  .nav-items a:hover::after {
    width: 0; 
  }
}