.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  height: 100vh;            
  text-align: center;
  margin-top: 75px;          
}

.home-header {
  top: 0; 
  left: 0; 
  width: 100%; 
  font-weight: bold;
  font-size: 3rem;
}

.home-header a{
  font-family: 'Glametrix-Bold';
  color: white;
  -webkit-text-stroke: 1.5px black;
  text-decoration: none;
  padding: 15px;
  transition: 0.3s ease;
}

.home-header a:hover {
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.706);
}

@keyframes fadeInFromEdges { 
  0% { 
    opacity: 0; transform: scale(0.8); 
  } 
  50% {
    opacity: 0.5; transform: scale(1.1); 
  } 
  100% { 
    opacity: 1; transform: scale(1); 
  } 
}

#welcome-text, #options-title {
  font-family: 'Glametrix-Bold';
}


#welcome-text {
  font-size: 4rem;
  padding-inline: 10px;
  animation: fadeInFromEdges 2.5s;
}

#options-title {
  font-size: 1.2rem;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.options-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 175px;
  padding: 5px;
  background-color: #f7f7f746;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  opacity: 0;
  animation: fadeInUp 0.7s ease forwards;
  transition: 0.3s ease;
}

.option-card:hover {
  box-shadow: 0 0 10px #9cbce9;
  background-color: #f7f7f76d;
}

.option-card:nth-child(1) {
  animation-delay: 0.1s;
}
.option-card:nth-child(2) {
  animation-delay: 0.2s;
}
.option-card:nth-child(3) {
  animation-delay: 0.3s;
}
.option-card:nth-child(4) {
  animation-delay: 0.4s;
}



.option-card h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.option-card p {
  font-size: 1.1rem;
  color: #333;
}



/* stying for smaller screens */
@media (max-width: 900px) {
  #welcome-text {
    font-size: 2.5rem;
  }
  
  #options-title {
    font-size: 1rem;
  }

  .option-card {
    width: 150px;
  }

  .home-header {
    font-size: 2.2rem;
  }

}


