.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  height: 100vh;            
  text-align: center;
  background-image: url('../assets/lined-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
}

@keyframes fadeInFromEdges { 
  0% { 
    opacity: 0; transform: scale(0.8); 
  } 
  50% {
    opacity: 0.5; transform: scale(1.1); 
  } 
  100% { 
    opacity: 1; transform: scale(1); 
  } 
}

.welcome-text, #options-title {
  font-family:'lavish';
}


.welcome-text {
  font-size: 3rem;
  padding-bottom: 50px;
}

#options-title {
  font-size: 1.5rem;
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeInUp 0.7s ease forwards;
}

.card-bg-svg {
  position: absolute;
  width: 100%;  
  height: 100%;
  z-index: 0;
  pointer-events: none;
  border-radius: 5px;
}

.option-card {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 180px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
  overflow: hidden;
}

#card-title {
  position: relative;
  top: -15px;
  font-family: 'lavish';
  background-color: #f7f7f7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

#card-subtitle {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;     
  left: 0;
  font-family: 'body-font';
  background-color: #f7f7f7c6;
  width: 100%;
}

.option-card:hover #card-subtitle {
  opacity: 1;
  transform: translateY(0);
}

.card-wrapper:nth-child(1) {
  animation-delay: 0.1s;
}
.card-wrapper:nth-child(2) {
  animation-delay: 0.2s;
}
.card-wrapper:nth-child(3) {
  animation-delay: 0.3s;
}
.card-wrapper:nth-child(4) {
  animation-delay: 0.4s;
}



.option-card h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.option-card p {
  font-size: 1.1rem;
  color: #333;
}



/* stying for smaller screens */
@media (max-width: 900px) {
  .welcome-text {
    font-size: 2.5rem;
  }
  
  #options-title {
    font-size: 1rem;
  }

  .option-card {
    width: 150px;
  }

  .home-header {
    font-size: 2.2rem;
  }

}


