.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 20;
}

.page-transition-overlay {
  position: fixed;
  bottom: 0;          
  left: 0;
  width: 100%;
  height: 100%;         
  background-size: cover;
  background-position: center;
  z-index: 999;
  filter: blur(4px) brightness(0.7);
  transform: translateY(100%);
  transition: 0.7s ease;
}

.page-transition-overlay.active {
  transform: translateY(0); 
}
