.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 1 auto; 
  z-index: 1000;
}

main {
  margin-top: 125px;
  flex: 1 0 auto; 
}

footer {
  flex: 0 1 auto; /* Allow footer to resize */
}
