.projects {
  width: 100%;
  min-height: 100vh;
  position: relative;
  animation: pageSlideUp 0.7s ease forwards;
  font-family: body-font;
}

.projects::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/card-bkg2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(0.7);
  z-index: 0;
}

@keyframes pageSlideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-one.hidden, .project-two.hidden, .project-three.hidden, .project-four.hidden, .project-five.hidden {
  opacity: 0;
  transition: 0.7s ease-out;
}

.project-one.visible, .project-two.visible, .project-three.visible, .project-four.visible, .project-five.visible {
  opacity: 1;
  animation: slide-from-bottom 0.7s ease-out forwards;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
}
