
.project-format {
  display: flex;
  background-color: rgba(255, 255, 255, 0.251);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.project-format a, h1, p{
  text-decoration: none;
  color: white;
}

.proj-column1 {
  text-align: center;
  background-color: #9ab0d045;
  padding: 20px;
}

.proj-column2 {
  padding: 20px;
}

.proj-column1 h1 {
  font-size: larger;
  font-weight: 600;
}

.col img{
  width: 250px;
  height:250px;
}

