
.project-format {
  display: flex;
  background-color: rgba(255, 255, 255, 0.251);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
  gap: 20px;
  border: 1px solid white;
}

.project-format a, p {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.project-link {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.053);
  transition: 0.3s ease;
  border-radius: 10px 0 0 10px;
}

.project-link:hover {
  background-color: #ffffff2e;
}

.proj-column1 h1 {
  font-size: larger;
  font-weight: 600;
}

.col {
  padding: 15px;
}

.col img {
  width: 300px;
  height:250px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.col img:hover{
  transform: scale(1.1);
}


@media (max-width: 900px) {
  .project-format {
    flex-direction: column;
  }

  .col img {
    width: 250px;
    height:200px;
  }

}