.navbar{
  display:flex;
}

.home-nav{
  margin-top:30px;
  font-weight: bold;
  font-size:2rem;
}

.home-nav a{
  color: white;
  text-decoration: none;
  padding-inline: 50px;
}

.nav-items{
  display: flex; 
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  gap:50px;
  padding-inline: 50px;
  margin-bottom: 50px;
}

.nav-items a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative; /* Ensure the pseudo-element is positioned relative to the link */
}

.nav-items a::after {
  content: '';
  position: absolute;
  bottom: 0; /* Position underline at the bottom of the text */
  left: 50%; /* Start underline from the middle */
  width: 0; /* Initially, set the width to 0 (no underline visible) */
  height: 1px; 
  background-color:#b5dcde; 
  transition: 0.3s ease; 
  transform: translateX(-50%);
}

.nav-items a:hover::after {
  width: 100%;
}

.section{
  display: flex;
  color: white;
  padding-top: 30px;
  width:75%;
  margin: auto;
  border-radius: 10px;
}

.section h2, h3, h4 {
  font-weight: normal;
}

#job-title{
  color:#010024;
}

#avatar-img{
  width: 400px;
  height: 400px;
}

.buttons{
  margin-top: 20px;
  display: flex;
  gap: 300px;
  color: white;
  justify-content: center;
}

#project-button,#contact-button{
  background-color: #C8D7E8;
  padding: 20px;
  color: black;
  border-style:none;
  border: 2px solid transparent;
  transition: border-color 0.5s ease;
  border-radius: 5px;
  text-decoration: none;
}

#project-button:hover,#contact-button:hover{
  padding: 20px;
  cursor: pointer;
  border: 2px solid #4e6b8c;
}

