.nav-bar{
  margin-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.388);
  position: fixed; 
  width: 100%; 
  z-index: 5; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-nav{
  font-weight: bold;
  font-size:3.5rem;
}

.home-nav a{
  color: white;
  -webkit-text-stroke: 3px black;
  text-decoration: none;
  padding-inline: 50px;
}

.nav-items {
  display: flex; 
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  gap:50px;
  padding-inline: 50px;
  margin-bottom: 25px;
}

.nav-items button, .nav-items a {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font: inherit;
  font-size:x-large;
}

.nav-items button::after, .nav-items a::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 50%;
  width: 0;
  height: 1px; 
  background-color:#b5dcde; 
  transition: 0.3s ease; 
  transform: translateX(-50%);
}

.nav-items button:hover::after, .nav-items a:hover::after {
  width: 100%;
}

.section{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  text-align: center;
} 

.about-me{
  padding-top: 180px;
}

@media (max-width: 900px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .image-container {
    max-width: 300px;
    margin-top: 15px; 
  }

  #about-me{
    margin: 0;
  }

  .tilted-background{
    display: hidden;
  }

  h1 {
    font-size: 1.6rem; 
  }

  h2 {
    font-size: 1.2rem;
  }

}

