html,body{
  height: 100%;
  width: 100%;
  margin:0;
}

@font-face {
  font-family:'Glametrix';
  src: url('../src/assets/Glametrix.otf') format('opentype');
}

@font-face {
  font-family:'Glametrix-Bold';
  src: url('../src/assets/Glametrix-Bold.otf') format('opentype');
}

body {
  font-family:'Glametrix';
  background: rgb(175,217,218);
  background: radial-gradient(circle, rgb(201, 217, 242) 0%, rgb(40, 52, 83) 86%);
  position: relative;
  cursor: url("http://www.w3.org/2000/svg"), auto;
  z-index: 0;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
} 

a, button {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), pointer;
}

.contact-page {
  background: radial-gradient(circle, rgb(237, 237, 237) 0%, rgb(196, 195, 195) 50%, rgb(88, 86, 86) 90%);
  background-size: cover;
  background-position: center;
}

.about-page {
  height: 100vh;
  background: radial-gradient(circle, rgb(231, 201, 224) 0%, rgb(66, 59, 76) 86%);
  background-size: cover;
  background-position: center;
}

.projects-page {
  background: radial-gradient(circle, rgb(193, 215, 208) 0%, rgb(59, 83, 80) 86%);
  background-size: cover;
  background-position: center;
}