body {
  margin: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgba(0, 0, 0, 0.909);
  background-image: url('../public/images/background.png');
  background-repeat: no-repeat;
  background-size:cover;
} 
